<nav class="nav navbar-inverse">
    <div class="container">
        <div class="col-lg-6 col-md-6 w_foot">Copyright &copy; 2016-2019 Rights Reserved 京ICP备15045428号</div>
        <div class="col-lg-4 col-md-4 w_foot">本博客转载如有侵权，请立即联系博主，即可删除.</div>
        <div class="col-lg-2 col-md-2 w_foot">
            <style>
                .follow_text{
                    width: 40px !important;
                }
                #cnzz_stat_icon_1261418434{
                    position: absolute;
                    top: 10px;
                }
            </style>
            <wb:follow-button uid="1561245115" type="red_1" width="100" height="24"></wb:follow-button>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261418434'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261418434%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </div>
</nav>