<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script src="/static/js/Common.js"></script>
<!--
<script src="/static/metroWeb/jquery.validate.js"></script>
<script src="/static/metroWeb/jquery.validate.min.js"></script>
<script src="/static/metroWeb/messages_zh.js"></script>
<script src="/static/js/ajaxMethod.js"></script>
<script src="/static/js/pageClick.js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/webtoolkit.md5.js"></script>
<script src="/static/js/webtoolkit.md5.kedu.js"></script>
<script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>-->
