<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cto.freemarker.mapper.RoleMapper">

    <select id="selectListByUserId" resultType="com.cto.freemarker.entity.Role">
        SELECT r.* FROM role r
        LEFT JOIN role_user ru ON ru.role_id = r.id
        WHERE ru.user_id = #{id}
    </select>
    <select id="selectEntityByCode" resultType="com.cto.freemarker.entity.Role">
        SELECT r.* FROM role r
        WHERE r.code = #{userType}
        limit 1
    </select>
</mapper>
