<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">联系站长</div>
    </div>
    <div class="panel-body">
        <img src="/static/img/qq.jpg" style="height: 100%;width: 100%;" />
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">友情链接</div>
    </div>
    <div class="panel-body">
        <div class="newContent">
            <ul class="list-unstyled sidebar shiplink">
                <li>
                    <a href="http://coding.594cto.com/" target="_blank">Spring Boot 代码生成器</a>
                </li>
                <li>
                    <a href="https://github.com/90zyw" target="_blank">GitHub</a>
                </li>
                <li>
                    <a href="https://gitee.com/zyw_cto" target="_blank">码云仓库</a>
                </li>
                <li>
                    <a href="https://www.88cto.com/" target="_blank">贝塔博客</a>
                </li>
            </ul>
        </div>
    </div>
</div>