.moodlist { margin: auto; width: 100%; overflow: hidden }
/* --------------------博客列表-------------------- */
h1.t_nav span{ float:right; color:#999}
h1.t_nav { border-bottom: #337ab7 1px solid; font-size: 12px; font-weight: normal; line-height: 40px; height: 40px;width:100% }
h1.t_nav a { width: 100px; display: block; text-align: center; color: #fff; float: left }
.n1 { background: #777; }
.n2 { background: #9d9d9d; }
.bloglist { width: 100%; margin: 0 15px; background: url(../img/slider/r_title_bg.jpg) repeat-y 78.4% 0;overflow: hidden; }
.arrow_box { background: #f8f8f8; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(214, 214, 214, 0.7); width: 75%; border-radius: 6px; position: relative; padding: 10px 0; margin: 20px 0; }
.arrow_box img { width: 200px;height: 120px; float: left; margin: 0 20px 0 20px; }
.arrow_box p { line-height: 24px; padding: 0 20px 20px }
.arrow_box::before { content: ""; width: 0px; height: 0px; border-style: solid; border-width: 0px 0 20px 22px; border-color: transparent transparent transparent #fff; position: absolute; left: 100%; top: 23px; }/* 三角形 */
.arrow_box::after { content: ""; width: 10px; height: 10px; border-radius: 50%; position: absolute; left: 104%; top: 18px; background: #CCCCCE; border: 2px solid #fff; transition: all 0.5s; }/* 圆形 */
.arrow_box:hover::before { border-color: transparent transparent transparent #CECCCD }/* 三角形 */
.arrow_box:hover::after { border: #fff 2px solid; background: #CECCCD }/* 圆形 */
.arrow_box:hover { background: #CECCCD; color: #333; text-shadow: #f7f7f7 1px 1px 1px }
.dateview { position: absolute; left: 107%; top: 20px; width: 125px; line-height: 30px; background: #999; border-radius: 0px 40px; text-align: center; color: #fff }

.sy{ overflow:hidden}
.bloglist_count{
    height: 0px;
    margin: 5px 0px;
    text-align: right;
}

/* --------------------文章-------------------- */
.w_list_overview{
    margin: 0 15px 40px 20px;
}
.article-heading{
    margin: 0px 0px 5px 20px;
}
.article-tags{
    margin: 0px 0px 10px 20px;
}
.w_thumbnail{
    margin-bottom: 0px;
}
.w_article_item .w_thumbnail img{
    width: 160px;
    height: 160px;
}
.w_article_item .row{
    position: relative;
}
.count_r{
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
    margin-right: 15px;

}
.w_article_item .panel-body{
    box-shadow: 0px 8px 18px rgba(0,0,0,0.06);
    transition: all .2s ease-out;
}
.w_article_item .panel-body:hover{
    box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
    transition: all .2s ease-out;
}

.w_main_left {
    font: 12px "宋体", Arial, Helvetica, sans-serif;
    color: #756F71;
}
.c_titile {
    font-size: 22px;
    margin: 20px 0;
    text-align: center;
    color: #333;
    font-weight: bold;
}
.box_c {
    border: #ccc 1px dashed;
    text-align: center;
    padding: 5px 0;
    margin-right: 30px;
    color: #999;
}
.box_c span {
    margin: 0 10px;
}
.box_c span a {
    color: #099;
}
ul {
    list-style: none;
}
ul.infos {
    overflow: hidden;
    margin: 20px 30px 20px 0;
    line-height: 28px;
    font-size: 14px;
    text-indent: 2em;
    color: #666;
}

ul.infos p {
    margin-bottom: 5px;
}

.keybq {
    background: url(../img/tab.png) no-repeat 10px center #F8F8F8;
    line-height: 30px;
    height: 30px;
    padding-left: 40px;
    border: 1px solid #F0F0F0;
}
.keybq span {
    color: #099;
}
.keybq .label{
    margin-right: 10px;
}
.nextinfo {
    margin: 25px 0px;
    line-height: 20px;
}
.nextinfo .last{
    width: 50%;
    float: left;
}

.nextinfo .next{
    width: 50%;
    float: right;
    text-align: right;
}

.nextinfo a:hover{
    color: #337AB7;
}


html,body{
    height: 100%;
    background: #ededed;
}
*{
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
}
a,a:hover{
    text-decoration: none;
    color: #333;
}
/********************头部开始*********************/
.w_header{
    height: 75px;
    margin-bottom: -75px;
    position: fixed;
    z-index:999;
    width: 100%;
    background: #222;
    opacity:.90;
}
.w_header_top{
    height: 75px;
}
.w_logo{
    width: 166px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.w_search{
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    height: 80px;
}
.w_search .w_searchbox{
    margin-top: 22px;

}
.w_search .w_searchbox>input{
    border: none;
    height: 30px;
    padding: 5px;
    font-size: 14px;
}
.w_search .w_searchbox>input:focus{
    outline: none;
}
.w_search .w_searchbox>button{
    border: none;
    height: 30px;
    margin-left: -3px;
    margin-top: 1px;
    width: 60px;
    outline:none;
}

.w_header_nav{
    margin-top: 20px;
}
.w_header_nav>ul{
    padding: 0px;
    margin: 0px;
}
.w_header_nav>ul>li{
    float: left;
    display: inline;
    padding: 28.5px 0px;
}
.w_header_nav>ul>li>a{
    color: #eee;
    font-size:14px;
    text-transform:uppercase;
    line-height: 10px;
    height: 10px;
    width: 80px;
    display: inline-block;
    text-align: center;
    font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.w_header_nav>ul>li:hover{
    background: #999;
}
.w_header_nav>ul>li>a.active{
    color: #4060e9;
}
/********************头部结束*********************/

/********************containner开始*********************/
.w_container{
    min-height: 100%;
    padding: 45px 0px 40px 0px;
}
.w_main_left{
    margin: 20px 0px;

}
.w_main_right{
    margin: 20px 0px;

}
.w_carousel .carousel-inner img{
    width: 100%;
    height: 350px;
}
/*博主置顶*/
.contenttop:hover{
    border: 1px #FF5E52 solid;
}
.contenttop>a{
    display: block;
    padding: 0px 15px 15px 20px;
}
.contenttop strong{
    background-color: #FF5E52;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.contenttop .title{
    color: #FF5E52;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.contenttop .overView{
    color: #999;
    margin-bottom: 0;
}
/*公告*/
.sitetip{
    display: block;
    padding: 0px 15px 15px 20px;
}
.sitetip strong{
    background-color: #777;
    margin: -1px 0 0 0;
    display: inline-block;
    padding: 4px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.sitetip .title{
    color: #777;
    font-size: 20px;
    font-weight: normal;
    margin-top: 14px;
}
.sitetip .overView{
    color: #767373;
    margin-top: 10px;
    margin-bottom: 0;
}

.contentList .title{
    font-size: 16px;
    color: #333;
    margin: 5px 0px 5px 0px;
    display: inline-block;
}
.contentList a.title:hover{
    color: #777;
}
.contentList .label{
    margin-right: 10px;
}

.contentList .overView{
    line-height:1.5;
    color: #767373;
}
.count{
    margin-right: 10px;
    font-size:12px;
}
.count>i{
    margin-right: 5px;
}
.count>a{
    color: #767373;
}
.contentleft{
    width:75%;
    float: left;
}
.contentList .contentImage{
    float: right;
}
.contentList .contentImage .row{
    margin: 0px;
}
.contentList .contentImage .row .thumbnail{
    margin: 0px;
    padding: 0px;
}
.contentList .contentImage img{
    width: 160px;
    height: 160px;
}

.labelList{
    padding: 0px;
}
.labelList .label{
    float: left;
    margin: 5px;
    font-size: 14px;
}
.list-unstyled{
    padding-left:0px;
    list-style:none;
    margin-top:0px;
    margin-bottom:10px;
}
.sidebar li{
    border-bottom:1px solid #d8e6f8;
    padding:5px 0px;
}
.sidebar li a{
    font-size:14px;
    color:#767373;
}
.sidebar li a:hover{
    color: #333;
}
.shiplink li{
    text-align: center;
    border-bottom: none;
}

.contentList .panel-body{
    /*box-shadow: 0px 8px 18px rgba(0,0,0,0.06);*/
    transition: all .2s ease-out;
}
.contentList .panel-body:hover{
    /*box-shadow: 0px 8px 18px rgba(0,0,0,0.15);*/
    transition: all .2s ease-out;
}

/********************containner结束*********************/
/********************底部开始*********************/
.w_foot{
    padding: 10px 0px 5px 0px;
    color:#b2bcc5;
    text-align: center;
}
.w_foot_link{
    height: 110px;
    background: #DDD;
    text-align: center;
    font-family: "微软雅黑";
    padding-top: 10px;
}
.w_foot_copyright{
    height: 40px;
    text-align: center;
    padding-top: 10px;
    background: #414141;
    color:#b2bcc5;
    font-size:13px;
}
.w_foot_copyright>a{
    color:#b2bcc5;
    text-decoration:none;
    font-size:13px;
}

/* totop */
.toTop{position:fixed;bottom:40px;right:20px; z-index:999;display:none; font-size:16px;cursor: pointer;overflow:hidden;visibility:visible; background-color:#fff;border: 1px solid #d9d9d9;color: #9c9c9c;font-size: 16px;width: 38px;height: 38px;line-height: 38px;text-align: center; text-decoration:none;_position:absolute;_top:expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight)}
.toTop:hover{ color:#fff; text-decoration:none; background-color:#999}


/*导航条*/
.w_breadcrumb{
    margin: 20px 15px 0px 15px;
    height: 40px;
}
.w_navbar_tip{
    float: right;
    color: #999;
    font-size: 12px; font-weight: normal;
    line-height: 40px; height: 20px;
}

@media only screen and (min-width:100px) and (max-width:768px){
    .w_carousel .carousel-inner img{
        width: 100%;
        height: 200px;
    }
    .w_logo{
        width: 166px;
        background: url(../img/logo.png) no-repeat center;
    }
    .w_header_nav>ul>li>a{width: 50px;}
}

/*自定义样式*/
.panel-default{border-color: #ffffff;}
.panel{border-radius:0px;border:none;}
.panel-default>.panel-heading{
    background-color:#ffffff;
    border-color:#eeeeee;
}
.content-panel{
    padding: 5px;
}
.panel-title{
    font-size: inherit;
}
.readMore{
    background-color: #ffffff;
    border: 1px solid;
    border-color: #eeeeee;
    line-height: 35px;
    width: 120px;
    outline: none;
}
.readButton{
    text-align: center;
    padding-bottom: 10px;
    margin-top: -20px;
}
.pagination>.active>a {
    background-color: #777 !important;
    border-color: #777 !important;
    color: #ffffff !important;
}
.pagination>li>a {
    color: #767373 !important;
}
.infos img{
    width: 100%;
}
.page{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
}
.mb-5{
    font-size: 100px;
    font-weight: 100;
}
.pagination>li>a.active{
    background-color: #777;
    color: #fff !important;
}