<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>我就是CTO-程序交流-程序员-学习-https://www.594cto.com</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="https://www.594cto.com,代码生成器,程序员学习平台,我就是CTO,CTO,编程"/>
    <meta name="description" content="我就是CTO，是专门为开发者学习交流的网站。收集了大量权威的最新技术，例如：Spring、SpringMVC、Struts、Hibernate、MyBatis、Redis、MongoDB、CSS、JS、UI设计、Linux等，是你学习和经验分享交流的理想网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/static/css/dashboard.css"/>
</head>
<body>
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <form class="card" id="dataForm" onsubmit="return false">
                        <div class="card-body p-6">
                            <div class="card-title">注册</div>
                            <div class="form-group">
                                <label class="form-label">邮箱</label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="请输入正确的邮箱地址">
                            </div>
                            <div class="form-group">
                                <label class="form-label">昵称</label>
                                <input type="email" id="nickName" name="nickName" class="form-control" placeholder="请输入昵称">
                            </div>
                            <div class="form-group">
                                <label class="form-label">密码</label>
                                <input type="password" id="password" name="password" class="form-control" placeholder="请设定密码">
                            </div>
                            <div class="form-footer">
                                <button type="button" class="btn btn-primary btn-block" onclick="register()">注册</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted small">
                        已有账号? <a href="/login">点击登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<#include "../common/include_js.html">
<script src="/static/js/user/register.js"></script>
</html>