<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cto.freemarker.dao.MenuMapper" >
    <resultMap id="MenuResultMap" type="com.cto.freemarker.entity.Menu" >
        <result property="uuid" column="uuid" />
        <result property="url" column="url" />
        <result property="updateUserId" column="update_user_id" />
        <result property="updateTime" column="update_time" />
        <result property="state" column="state" />
        <result property="sort" column="sort" />
        <result property="permission" column="permission" />
        <result property="parentId" column="parent_id" />
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="deleteFlag" column="delete_flag" />
        <result property="addUserId" column="add_user_id" />
        <result property="addTime" column="add_time" />
    </resultMap>
    <resultMap id="MenuVoResultMap" type="com.cto.freemarker.entity.vo.MenuVo" extends="MenuResultMap">

    </resultMap>

    <sql id="Menu_Column_List" >
        uuid,
        url,
        update_user_id,
        update_time,
        state,
        sort,
        permission,
        parent_id,
        id,
        name,
        delete_flag,
        add_user_id,
        add_time
    </sql>

    <insert id="insert" parameterType="com.cto.freemarker.entity.Menu">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO menu (
        <include refid="Menu_Column_List" />
        ) VALUES (
        #{uuid},
        #{url},
        #{updateUserId},
        #{updateTime},
        #{state},
        #{sort},
        #{permission},
        #{parentId},
        #{id},
        #{name},
        #{deleteFlag},
        #{addUserId},
        #{addTime}
        )
    </insert>

    <update id="update" parameterType="com.cto.freemarker.entity.Menu">
        UPDATE menu SET
        url = #{url},
        update_user_id = #{updateUserId},
        update_time = #{updateTime},
        state = #{state},
        sort = #{sort},
        permission = #{permission},
        parent_id = #{parentId},
        name = #{name},
        delete_flag = #{deleteFlag},
        add_user_id = #{addUserId},
        add_time = #{addTime}
        WHERE
        id = #{id}
    </update>

    <update id="updateBySelective" parameterType="com.cto.freemarker.entity.Menu">
        UPDATE menu
        <set>
        <if test="url!=null and url!=''">
        url=#{url},
        </if>
        <if test="updateUserId!=null">
        update_user_id=#{updateUserId},
        </if>
        <if test="updateTime!=null">
        update_time=#{updateTime},
        </if>
        <if test="state!=null">
        state=#{state},
        </if>
        <if test="sort!=null">
        sort=#{sort},
        </if>
        <if test="permission!=null and permission!=''">
        permission=#{permission},
        </if>
        <if test="parentId!=null">
        parent_id=#{parentId},
        </if>
        <if test="name!=null and name!=''">
        name=#{name},
        </if>
        <if test="deleteFlag!=null">
        delete_flag=#{deleteFlag},
        </if>
        <if test="addUserId!=null">
        add_user_id=#{addUserId},
        </if>
        <if test="addTime!=null">
        add_time=#{addTime}
        </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="selectEntityById" parameterType="java.lang.Long" resultMap="MenuResultMap">
        select <include refid="Menu_Column_List" /> from menu where id=#{id}
    </select>

    <select id="selectEntityByUUId" parameterType="string" resultMap="MenuResultMap">
        select  <include refid="Menu_Column_List" /> from menu where uuid=#{uuid}
    </select>

    <select id="selectListBySearch" parameterType="com.cto.freemarker.entity.vo.MenuVo" resultMap="MenuResultMap">
        select <include refid="Menu_Column_List" /> from menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="url!=null and url!=''">
        and url like CONCAT('%',#{url},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="state!=null">
        and state=#{state}
        </if>
        <if test="sort!=null">
        and sort=#{sort}
        </if>
        <if test="permission!=null and permission!=''">
        and permission like CONCAT('%',#{permission},'%')
        </if>
        <if test="parentId!=null">
        and parent_id=#{parentId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="deleteFlag!=null">
        and delete_flag=#{deleteFlag}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
    </select>

    <select id="selectPageList" parameterType="com.cto.freemarker.entity.vo.MenuVo" resultMap="MenuResultMap">
        select <include refid="Menu_Column_List" /> from menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="url!=null and url!=''">
        and url like CONCAT('%',#{url},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="state!=null">
        and state=#{state}
        </if>
        <if test="sort!=null">
        and sort=#{sort}
        </if>
        <if test="permission!=null and permission!=''">
        and permission like CONCAT('%',#{permission},'%')
        </if>
        <if test="parentId!=null">
        and parent_id=#{parentId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="deleteFlag!=null">
        and delete_flag=#{deleteFlag}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="selectPageCount" parameterType="com.cto.freemarker.entity.vo.MenuVo" resultType="java.lang.Integer">
        select count(1) from menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="url!=null and url!=''">
        and url like CONCAT('%',#{url},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="state!=null">
        and state=#{state}
        </if>
        <if test="sort!=null">
        and sort=#{sort}
        </if>
        <if test="permission!=null and permission!=''">
        and permission like CONCAT('%',#{permission},'%')
        </if>
        <if test="parentId!=null">
        and parent_id=#{parentId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="deleteFlag!=null">
        and delete_flag=#{deleteFlag}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
        menu
        where id=#{id}
    </delete>

    <delete id="deleteByUUId" parameterType="string">
        DELETE FROM
        menu
        where uuid=#{uuid}
    </delete>
</mapper>
