<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cto.freemarker.dao.RoleMapper" >
    <resultMap id="RoleResultMap" type="com.cto.freemarker.entity.Role" >
        <result property="deleteFlag" column="delete_flag" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="updateUserId" column="update_user_id" />
        <result property="updateTime" column="update_time" />
        <result property="addUserId" column="add_user_id" />
        <result property="addTime" column="add_time" />
        <result property="id" column="id" />
        <result property="uuid" column="uuid" />
    </resultMap>
    <resultMap id="RoleVoResultMap" type="com.cto.freemarker.entity.vo.RoleVo" extends="RoleResultMap">

    </resultMap>

    <sql id="Role_Column_List" >
        delete_flag,
        remark,
        status,
        code,
        name,
        update_user_id,
        update_time,
        add_user_id,
        add_time,
        id,
        uuid
    </sql>

    <insert id="insert" parameterType="com.cto.freemarker.entity.Role">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO role (
        <include refid="Role_Column_List" />
        ) VALUES (
        #{deleteFlag},
        #{remark},
        #{status},
        #{code},
        #{name},
        #{updateUserId},
        #{updateTime},
        #{addUserId},
        #{addTime},
        #{id},
        #{uuid}
        )
    </insert>

    <update id="update" parameterType="com.cto.freemarker.entity.Role">
        UPDATE role SET
        delete_flag = #{deleteFlag},
        remark = #{remark},
        status = #{status},
        code = #{code},
        name = #{name},
        update_user_id = #{updateUserId},
        update_time = #{updateTime},
        add_user_id = #{addUserId},
        add_time = #{addTime}
        WHERE
        id = #{id}
    </update>

    <update id="updateBySelective" parameterType="com.cto.freemarker.entity.Role">
        UPDATE role
        <set>
        <if test="deleteFlag!=null and deleteFlag!=''">
        delete_flag=#{deleteFlag},
        </if>
        <if test="remark!=null and remark!=''">
        remark=#{remark},
        </if>
        <if test="status!=null and status!=''">
        status=#{status},
        </if>
        <if test="code!=null and code!=''">
        code=#{code},
        </if>
        <if test="name!=null and name!=''">
        name=#{name},
        </if>
        <if test="updateUserId!=null">
        update_user_id=#{updateUserId},
        </if>
        <if test="updateTime!=null">
        update_time=#{updateTime},
        </if>
        <if test="addUserId!=null">
        add_user_id=#{addUserId},
        </if>
        <if test="addTime!=null">
        add_time=#{addTime}
        </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="selectEntityById" parameterType="java.lang.Long" resultMap="RoleResultMap">
        select <include refid="Role_Column_List" /> from role where id=#{id}
    </select>

    <select id="selectEntityByUUId" parameterType="string" resultMap="RoleResultMap">
        select  <include refid="Role_Column_List" /> from role where uuid=#{uuid}
    </select>

    <select id="selectListBySearch" parameterType="com.cto.freemarker.entity.vo.RoleVo" resultMap="RoleResultMap">
        select <include refid="Role_Column_List" /> from role where 1=1
        <if test="deleteFlag!=null and deleteFlag!=''">
        and delete_flag like CONCAT('%',#{deleteFlag},'%')
        </if>
        <if test="remark!=null and remark!=''">
        and remark like CONCAT('%',#{remark},'%')
        </if>
        <if test="status!=null and status!=''">
        and status like CONCAT('%',#{status},'%')
        </if>
        <if test="code!=null and code!=''">
        and code like CONCAT('%',#{code},'%')
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
    </select>

    <select id="selectPageList" parameterType="com.cto.freemarker.entity.vo.RoleVo" resultMap="RoleResultMap">
        select <include refid="Role_Column_List" /> from role where 1=1
        <if test="deleteFlag!=null and deleteFlag!=''">
        and delete_flag like CONCAT('%',#{deleteFlag},'%')
        </if>
        <if test="remark!=null and remark!=''">
        and remark like CONCAT('%',#{remark},'%')
        </if>
        <if test="status!=null and status!=''">
        and status like CONCAT('%',#{status},'%')
        </if>
        <if test="code!=null and code!=''">
        and code like CONCAT('%',#{code},'%')
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="selectPageCount" parameterType="com.cto.freemarker.entity.vo.RoleVo" resultType="java.lang.Integer">
        select count(1) from role where 1=1
        <if test="deleteFlag!=null and deleteFlag!=''">
        and delete_flag like CONCAT('%',#{deleteFlag},'%')
        </if>
        <if test="remark!=null and remark!=''">
        and remark like CONCAT('%',#{remark},'%')
        </if>
        <if test="status!=null and status!=''">
        and status like CONCAT('%',#{status},'%')
        </if>
        <if test="code!=null and code!=''">
        and code like CONCAT('%',#{code},'%')
        </if>
        <if test="name!=null and name!=''">
        and name like CONCAT('%',#{name},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
        role
        where id=#{id}
    </delete>

    <delete id="deleteByUUId" parameterType="string">
        DELETE FROM
        role
        where uuid=#{uuid}
    </delete>
</mapper>
