<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cto.freemarker.dao.RoleMenuMapper" >
    <resultMap id="RoleMenuResultMap" type="com.cto.freemarker.entity.RoleMenu" >
        <result property="uuid" column="uuid" />
        <result property="updateUserId" column="update_user_id" />
        <result property="roleId" column="role_id" />
        <result property="updateTime" column="update_time" />
        <result property="menuId" column="menu_id" />
        <result property="id" column="id" />
        <result property="addUserId" column="add_user_id" />
        <result property="addTime" column="add_time" />
    </resultMap>
    <resultMap id="RoleMenuVoResultMap" type="com.cto.freemarker.entity.vo.RoleMenuVo" extends="RoleMenuResultMap">

    </resultMap>

    <sql id="RoleMenu_Column_List" >
        uuid,
        update_user_id,
        role_id,
        update_time,
        menu_id,
        id,
        add_user_id,
        add_time
    </sql>

    <insert id="insert" parameterType="com.cto.freemarker.entity.RoleMenu">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO role_menu (
        <include refid="RoleMenu_Column_List" />
        ) VALUES (
        #{uuid},
        #{updateUserId},
        #{roleId},
        #{updateTime},
        #{menuId},
        #{id},
        #{addUserId},
        #{addTime}
        )
    </insert>

    <update id="update" parameterType="com.cto.freemarker.entity.RoleMenu">
        UPDATE role_menu SET
        update_user_id = #{updateUserId},
        role_id = #{roleId},
        update_time = #{updateTime},
        menu_id = #{menuId},
        add_user_id = #{addUserId},
        add_time = #{addTime}
        WHERE
        id = #{id}
    </update>

    <update id="updateBySelective" parameterType="com.cto.freemarker.entity.RoleMenu">
        UPDATE role_menu
        <set>
        <if test="updateUserId!=null">
        update_user_id=#{updateUserId},
        </if>
        <if test="roleId!=null">
        role_id=#{roleId},
        </if>
        <if test="updateTime!=null">
        update_time=#{updateTime},
        </if>
        <if test="menuId!=null">
        menu_id=#{menuId},
        </if>
        <if test="addUserId!=null">
        add_user_id=#{addUserId},
        </if>
        <if test="addTime!=null">
        add_time=#{addTime}
        </if>
        </set>
        WHERE
        id = #{id}
    </update>

    <select id="selectEntityById" parameterType="java.lang.Long" resultMap="RoleMenuResultMap">
        select <include refid="RoleMenu_Column_List" /> from role_menu where id=#{id}
    </select>

    <select id="selectEntityByUUId" parameterType="string" resultMap="RoleMenuResultMap">
        select  <include refid="RoleMenu_Column_List" /> from role_menu where uuid=#{uuid}
    </select>

    <select id="selectListBySearch" parameterType="com.cto.freemarker.entity.vo.RoleMenuVo" resultMap="RoleMenuResultMap">
        select <include refid="RoleMenu_Column_List" /> from role_menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="roleId!=null">
        and role_id=#{roleId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="menuId!=null">
        and menu_id=#{menuId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
    </select>

    <select id="selectPageList" parameterType="com.cto.freemarker.entity.vo.RoleMenuVo" resultMap="RoleMenuResultMap">
        select <include refid="RoleMenu_Column_List" /> from role_menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="roleId!=null">
        and role_id=#{roleId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="menuId!=null">
        and menu_id=#{menuId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
        <if test="sortStr != null and sortStr != ''">
            order by  ${sortStr}
        </if>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="selectPageCount" parameterType="com.cto.freemarker.entity.vo.RoleMenuVo" resultType="java.lang.Integer">
        select count(1) from role_menu where 1=1
        <if test="uuid!=null and uuid!=''">
        and uuid like CONCAT('%',#{uuid},'%')
        </if>
        <if test="updateUserId!=null">
        and update_user_id=#{updateUserId}
        </if>
        <if test="roleId!=null">
        and role_id=#{roleId}
        </if>
        <if test="updateTime!=null">
        and update_time=#{updateTime}
        </if>
        <if test="menuId!=null">
        and menu_id=#{menuId}
        </if>
        <if test="id!=null">
        and id=#{id}
        </if>
        <if test="addUserId!=null">
        and add_user_id=#{addUserId}
        </if>
        <if test="addTime!=null">
        and add_time=#{addTime}
        </if>
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM
        role_menu
        where id=#{id}
    </delete>

    <delete id="deleteByUUId" parameterType="string">
        DELETE FROM
        role_menu
        where uuid=#{uuid}
    </delete>
</mapper>
