<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>我就是CTO-程序交流-程序员-学习-https://www.594cto.com</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content="https://www.594cto.com,代码生成器,程序员学习平台,我就是CTO,CTO,编程"/>
    <meta name="description" content="我就是CTO，是专门为开发者学习交流的网站。收集了大量权威的最新技术，例如：Spring、SpringMVC、Struts、Hibernate、MyBatis、Redis、MongoDB、CSS、JS、UI设计、Linux等，是你学习和经验分享交流的理想网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="baidu_ssp_verify" content="7762a54dc5dd54336cada5dd27c35b2d">
</head>
<body>
    <div class="w_container">
        首页
    </div>
</body>
<#include "common/include_js.html">
</html>