<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efreight.hrs.dao.HrsUserDeptMapper">
    <select id="getUserDeptInfo" resultType="com.efreight.common.global.login.LoginDeptVO">
        select d.id, d.dept_name
        from hrs_user_dept u
                 left join hrs_org_dept d on u.dept_id = d.id and u.org_id = d.org_id
        where u.org_id = #{orgId}
          and u.id = #{userId}
            limit 1
    </select>
</mapper>
